@import "../../css/mixins";

$avatar-size: 310px;
.avatar {
  display: block;
  max-width: $avatar-size;
  max-height: $avatar-size;

  img,
  & > div {
    border-radius: 50%;
    max-height: $avatar-size;
    width: $avatar-size;
    height: $avatar-size;
    object-fit: cover;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 4px solid var(--ifm-color-emphasis-200);
  }

  @include small-size {
    margin: 0 auto;
  }
}

.avatarContainer {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include small-size {
    margin: 2rem 0 0;
  }
}
