@import "../../css/mixins";

.heroBanner {
  padding: 10rem 0 11rem;
  text-align: left;
  position: relative;
  overflow: hidden;
  background: #000;
  color: #fff;
  margin-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;

  @include small-size {
    padding: 4rem 2rem;
  }
}

.highlighted {
  color: #ff5733; /* Adjust color as needed */
  font-weight: bold;
}

.highlighted {
  background: linear-gradient(to left, #4cc9ed 0%, #6646f6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-size: 4rem;
  text-shadow: 3px 0px 30px rgba(0, 0, 0, 0.2);

  @include small-size {
    font-size: 2rem;
  }
}

.subtitle {
  margin: 0;

  @include small-size {
    font-size: 1.2rem;
  }
}
